{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'polls:index' %}" class="btn btn-secondary btn-sm mb-3">Back to Polls</a>
    <h1 class="text-left mb-3">{{ question.question_text }}</h1>

    {% if error_message %}
        <p class="alert alert-manager">
            <strong>
                {{error_message}}
            </strong>
        </p>
    {% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <div class="form-check my-3">
                <input type="radio" name="choice" class="form-check-input" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label class="form-check-label" for="choice{{ forloop.counter }}"> {{choice.choice_text}} </label>
                </input>
            </div>
        {% endfor %}
        <div class="d-grid">
            <input type="submit" value="Vote" class="btn btn-success btn-lg btn-block mt-4" />
        </div>
    </form>
{% endblock %}